[role="tablist"] {
  margin: 0;
  display: flex;
  gap: 0px;

  &[align="right"] {
    justify-content: flex-end;
  }

  &>button,
  &>[role="tab"] {
    background: var(--background-color);
    color: var(--text-color);
    filter: brightness(var(--button-secondary-brightness));
  
    &:before {
      border-color: var(--background-color);
      filter: brightness(var(--button-secondary-border-brightness));
    }
  
    &:hover,
    &:focus {
      filter: brightness(var(--button-secondary-hover-brightness));

      &:before {
        filter: brightness(1);
      }
    }

    &:active {
      opacity: var(--button-primary-active-opacity);
      background: var(--primary-color);
      color: var(--primary-text-color);
      filter: brightness(1);
    }

    &[aria-selected="true"] {
      background: var(--primary-color);
      color: var(--primary-text-color);
      filter: brightness(1);

      &:before {
        border-color: var(--primary-color);
        filter: brightness(var(--button-primary-border-brightness));
      }

      &:hover, &:focus {
        filter: brightness(var(--button-primary-hover-brightness));

        &:before {
          filter: brightness(1);
        }
      }
    
      &:active {
        opacity: var(--button-primary-active-opacity);

        &:before {
          filter: brightness(1);
        }
      }
    }

    &:not(:first-child, :last-child) {
      border-radius: 0;
      &:before {
        border-radius: 0;
        border-left: none;
      }
    }

    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:before {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child:not(:first-child) {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:before {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
