[role="tablist"], [role="radiogroup"] {
  margin: 0;
  display: flex;
  gap: 0px;

  &[align="right"] {
    justify-content: flex-end;
  }

  &>button,
  &>[role="tab"],
  &>[role="radio"] {
    background: var(--background-color);
    color: var(--text-color);
    filter: brightness(var(--button-secondary-brightness));
  
    @media (hover: none) {
      transition: none;
    }

    &:before {
      border-color: var(--background-color);
      filter: brightness(var(--button-secondary-border-brightness));
    }
  
    &:hover,
    &:focus {
      filter: brightness(var(--button-secondary-hover-brightness));
    }

    &:active, &[aria-selected="true"] {
      background: var(--primary-color);
      color: var(--primary-text-color);
      filter: none;
      transition: none;

      &:before {
        border-color: var(--primary-color);
        filter: brightness(var(--button-primary-border-brightness));
        transition: none;
      }
    }

    &:not(:first-child, :last-child) {
      border-radius: 0;
      &:before {
        border-radius: 0;
        border-left: none;
      }
    }

    &:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:before {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:last-child:not(:first-child) {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:before {
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

[role="radiogroup"] {
  &>button,
  &>[role="radio"] {
    min-width: var(--button-height);
  }
}