:root {
  --button-min-width: 96px;
  --button-height: 32px;
  --button-padding: 0 var(--spacing);
}

@media (hover: none) and (pointer: coarse) {
  :root {
    --button-height: 40px;
    --button-min-width: 112px;
  }
}
