:root {
  --button-border-radius: var(--roundness);
  --button-min-width: 96px;
  --button-height: 32px;
  --button-padding: 0 var(--spacing);
}

@media (max-width: 768px) {
  :root {
    --button-height: 40px;
    --button-min-width: 112px;
  }
}
