:root {
  --button-disabled-opacity: 0.35;
}

button:disabled,
[role="button"]:disabled,
[type="button"]:disabled,
[type="submit"]:disabled {
  opacity: var(--button-disabled-opacity);
  border: none;
  background: var(--background-color);
  color: var(--text-color);
  cursor: not-allowed;
  filter: invert(1);

  &:before {
    display: none;
  }
}
