
:root {
  --button-secondary-active-opacity: 0.85;
}

@media (prefers-color-scheme: light) {
  :root {
    --button-secondary-active-opacity: 0.65;
  }
}

menu {
  padding: 0;
}

menu[role="group"],
menu[aria-orientation="horizontal"],
[role="menu"][aria-oriented="horizontal"] {
  &>button:not(:last-child),
  &>[role="button"]:not(:last-child),
  &>[type="button"]:not(:last-child),
  &>[type="submit"]:not(:last-child) {
    background: var(--background-color);
    color: var(--text-color);
    filter: brightness(var(--interactable-brightness));
  
    &:before {
      border-color: var(--text-color);
      opacity: var(--border-expression);
    }
  
    &:hover,
    &:focus {
      filter: brightness(var(--hover-brightness));
    }
  
    &:active {
      opacity: var(--button-secondary-active-opacity);
    }
  }  
}
