@media (prefers-color-scheme: light) {
  :root {
    --secondary-button-active-opacity: calc(1 - (1 - var(--active-opacity)) * 2);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --secondary-button-active-opacity: var(--active-opacity);
  }
}

menu {
  padding: 0;
  margin: var(--spacing) 0;

  &[aria-orientation='horizontal'] {
    margin: 0 var(--spacing);
  }
}

[role='group'],
menu[aria-orientation='horizontal'],
[role='menu'][aria-oriented='horizontal'] {
  & > button:not(:last-child),
  & > [role='button']:not(:last-child),
  & > [type='button']:not(:last-child),
  & > [type='submit']:not(:last-child) {
    background: var(--background-color);
    color: var(--text-color);
    filter: brightness(var(--interactable-brightness));

    &::before {
      border-color: var(--text-color);
      opacity: var(--border-expression);
    }

    &:is([aria-description^='danger'], [aria-description^='Danger']) {
      color: var(--danger-color);
    }

    &:hover,
    &:focus {
      filter: brightness(var(--hover-brightness));
    }

    &:active {
      opacity: var(--secondary-button-active-opacity);
    }
  }

  &:is([align='right'], [align='end']) {
    text-align: right;
  }
}
