
:root {
  --button-primary-hover-brightness: 1.2;
  --button-primary-active-opacity: 0.85;
}

@media (prefers-color-scheme: light) {
  :root {
    --button-primary-border-brightness: 0.9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --button-primary-border-brightness: 1.2;
  }
}

button, [role="button"], [type="button"], [type="submit"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--button-min-width);
  height: var(--button-height);
  position: relative;
  font-size: 0.9em;
  text-align: center;
  background: var(--primary-color);
  color: var(--primary-text-color);

  border: none;
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);

  cursor: pointer;
  filter: brightness(1);
  transition: opacity 0.15s, filter 0.15s, background 0.1s;

  &:before {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    content: '';
    border: 1px solid var(--primary-color);
    border-radius: var(--button-border-radius);
    filter: brightness(var(--button-primary-border-brightness));
    transition: background 0.1s, filter 0.15s;
  }
  
  &:hover, &:focus {
    filter: brightness(var(--button-primary-hover-brightness));
    outline: none;
  }

  &:active {
    opacity: var(--button-primary-active-opacity);
  }

  &[aria-label] {
    min-width: var(--button-height);
  }
}

