button[role="switch"] {
  background: var(--background-color);
  color: var(--text-color);
  filter: brightness(var(--interactable-brightness));

  &:before {
    border-color: var(--text-color);
    opacity: var(--border-expression);
  }

  &:hover,
  &:focus {
    filter: brightness(var(--hover-brightness));
  }

  &:active {
    opacity: var(--button-secondary-active-opacity);
  }

  &[aria-checked="true"] {
    background: var(--primary-color);
    color: var(--primary-text-color);
    filter: brightness(var(--button-primary-brightness));

    & * {
      color: var(--primary-text-color);
    }

    &:before {
      border-color: var(--primary-color);
      filter: brightness(var(--button-primary-border-brightness));
    }

    &:hover, &:focus {
      filter: brightness(var(--button-primary-hover-brightness));
    }

    &:active {
      opacity: var(--button-primary-active-opacity);
    }
  }

  &:is(:not([aria-checked]), [aria-checked="false"]) *:last-child {
    display: none;
  }

  &[aria-checked="true"] *:first-child {
    display: none;
  }
}