@media (prefers-color-scheme: light) {
  :root {
    --anchor-brightness: 1;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --anchor-brightness: calc(1 - (1 - var(--interactable-brightness)) * 0.35);
  }
}

a:not([role]) {
  text-decoration: none;
  color: var(--primary-color);
  filter: brightness(var(--anchor-brightness));
}

a:not([role]):hover {
  text-decoration: underline;
}
