:root {
  --toolbar-spacer-gap: calc(var(--spacing) * 4);
  --toolbar-spacer-margin: calc(var(--spacing) / 2);
  --toolbar-details-animation: drop-in;
}

[role='toolbar'],
[role='tablist'],
[role='radiogroup'] {
  margin: 0;
  display: flex;
  gap: 0;
  max-width: 100%;

  &[align='end'],
  &[align='right'],
  &[align='bottom'] {
    justify-content: flex-end;
  }
}

[role='toolbar'] > :is(button, [role='button'], [type='button'], [type='sumbit"']),
[role='tablist'] > :is(button, [role='tab']),
[role='radiogroup'] > :is(button, [role='radio']),
[role='toolbar'] > details > summary[role='button'] {
  background: var(--background-color);
  color: var(--text-color);
  filter: brightness(var(--interactable-brightness));

  @media (hover: none) {
    transition: none;
  }

  &::before {
    border-color: var(--text-color);
    opacity: var(--border-expression);
  }

  &:is([aria-description^='danger'], [aria-description^='Danger']) {
    color: var(--danger-color);
  }

  &:hover,
  &:focus {
    filter: brightness(var(--hover-brightness));
  }
}

[role='toolbar'] > :is(button, [role='button'], [type='button'], [type='sumbit']):active {
  opacity: var(--button-secondary-active-opacity);
}

[role='tablist'] > :is(button, [role='tab']):is(:active, [aria-selected='true']),
[role='radiogroup'] > :is(button, [role='radio']):is(:active, [aria-checked='true']) {
  background: var(--primary-color);
  color: var(--primary-text-color);
  filter: none;
  transition: none;

  &::before {
    border-color: var(--primary-color);
    filter: brightness(var(--button-primary-border-brightness));
    transition: none;
  }
}

:is([role='toolbar'], [role='radiogroup']) > hr {
  display: inline-block;
  width: var(--hr-thickness);
  min-width: var(--hr-thickness);
  height: calc(var(--button-height) - var(--toolbar-spacer-margin) * 2);
  vertical-align: middle;
  margin: var(--toolbar-spacer-margin) calc((var(--toolbar-spacer-gap) - var(--hr-thickness)) / 2);
  margin-top: var(--toolbar-spacer-margin);
  border: none;
  background: var(--text-color);
  opacity: var(--hr-expression);
}

[role='toolbar']:not([aria-orientation='vertical']) > :is(button, [role='button'], [type='button'], [type='sumbit']),
[role='tablist'] > :is(button, [role='tab']):not(a),
[role='radiogroup']:not([aria-orientation='vertical']) > :is(button, [role='radio']) {
  &:not(:first-child, :last-child) {
    border-radius: 0;

    &::before {
      border-radius: 0;
      border-left: none;
    }
  }

  &:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &:last-child:not(:first-child) {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &::before {
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

:is([role='toolbar'], [role='radiogroup'])[aria-orientation='vertical'] {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 0;

  & > :is(button, [role='button']):not([aria-label]) {
    justify-content: flex-start;
  }

  & > hr {
    width: calc(100% - var(--toolbar-spacer-margin) * 2);
    height: var(--hr-thickness);
    margin: calc((var(--toolbar-spacer-gap) - var(--hr-thickness)) / 2) var(--toolbar-spacer-margin);
  }
}

[role='toolbar'][aria-orientation='vertical'] > :is(button, [role='button'], [type='button'], [type='sumbit']),
[role='radiogroup'][aria-orientation='vertical'] > :is(button, [role='radio']) {
  &:not(:first-child, :last-child) {
    border-radius: 0;

    &::before {
      border-radius: 0;
      border-top: none;
    }
  }

  &:first-child:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &:last-child:not(:first-child) {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &::before {
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

:is(
[role='toolbar'],
[role='radiogroup'],
[role='tablist']
) :is([role='toolbar'], [role='radiogroup'], [role='tablist']) {
  overflow: unset;
}

details {
  position: relative;

  & > summary[role='button'] + div {
    position: absolute;
    width: max-content;
    top: calc(var(--button-height) + var(--spacing));
    left: 0;
    z-index: 2;
    animation: none;
  }

  &[open] > summary[role='button'] + div {
    animation: var(--toolbar-details-animation) 0.15s;
  }

  & > summary[role='button'] {
    user-select: none;

    &::-webkit-details-marker {
      display: none;
    }
  }
}

[role='toolbar']:is([align='right'], [align='end']) > details {
  & > summary[role='button'] + div {
    left: auto;
    right: 0;
  }
}

[role='toolbar']:not([aria-orientation='vertical']) > details {
  &:not(:first-child) {
    & > summary[role='button'] {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &::before {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: none;
      }
    }
  }

  &:not(:last-child) {
    & > summary[role='button'] {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &::before {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}

[role='tablist'] > a[role='tab'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: var(--button-min-width);
  height: var(--button-height);
  border-radius: var(--roundness);
  position: relative;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  background: var(--background-color);
  filter: brightness(1);
  transition: filter 0.15s;

  &:hover {
    filter: brightness(var(--interactable-brightness));
  }

  &[aria-selected='true'],
  &:active {
    color: var(--text-color);
    background: var(--background-color);

    &:hover {
      filter: brightness(var(--interactable-brightness));

      &::after {
        filter: brightness(calc(1 / var(--interactable-brightness)));
      }
    }
  }

  &::after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    bottom: calc(-1 * var(--spacing));
    height: 1px;
    background: var(--text-color);
    opacity: calc(1 - (1 - var(--border-expression)) * 0.85);
    transition: opacity 0.15s, transform 0.15s, background 0.15s;
  }

  &[aria-selected='true']::after,
  &:active::after {
    opacity: 1;
    transform: scaleY(3);
    background: var(--primary-color);
  }
}
