@import '../src/index.css';
/* @import '../dist/nokss.css' */

/* :root {
  --primary-color: #FF4A4A;
  --primary-text-color: #EAEAEA;
  --background-color: #B9FFF8;
  --text-color: #000;
  --button-secondary-brightness: 1;
  --button-secondary-border-brightness: 1;
  --button-secondary-hover-brightness: 0.95;
} */