:root {
  --section-spacing: 40vh;
}

pre code,
pre code.hljs {
  background: #000;
}

/* pre code * { color: white; } */

.icon {
  font-family: graphis, sans-serif;
  font-size: 1rem;
}

[role='presentation'] {
  border: 1px solid rgba(128  128  128 / 25%);
  border-radius: 8px;
  padding: 8px;
}

body > aside:first-of-type {
  font-size: var(--small-font-size);
}

.hljs-name,
.hljs-selector-pseudo {
  color: #ffae6d;
}

.card-show {
  padding: var(--spacing) 10vw;
}

@media (max-width: 600px) {
  .card-show {
    padding: var(--spacing);
  }
}
