a:not([role]) {
  text-decoration: none;
  color: var(--primary-color);
}

a:not([role]):hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  a:not([role]) {
    filter: brightness(1.3);
  }
}
