:root {
  --code-padding: calc(var(--spacing) * 2);
  --code-border-radius: var(--roundness);
  --code-font-size: 0.85rem;
}

pre code {
  color: white;
}

pre code,
pre code.hljs {
  display: block;
  padding: var(--code-padding);
  border-radius: var(--code-border-radius);
  position: relative;
  font-size: var(--code-font-size);
  overflow-x: auto;
  outline: none;
}

pre {
  position: relative;
}

pre [role='toolbar'] {
  --code-toolbar-padding: calc(var(--code-padding) - (var(--button-height) - var(--font-size) * 1.5) / 2);

  position: absolute;
  top: var(--code-toolbar-padding);
  right: var(--code-toolbar-padding);
  opacity: 0;
  transition: opacity 0.15s;
}

pre:hover [role='toolbar'] {
  opacity: 1;
}
