:root {
  --code-padding: calc(var(--spacing) * 2);
  --code-border-radius: calc(var(--roundness) / 2);
  --code-font-size: 0.9em;
}

pre code {
  display: block;
  padding: var(--code-padding);
  border-radius: var(--code-border-radius);
  position: relative;
  font-size: var(--code-font-size);
  color: white;
  overflow-x: auto;
  outline: none;
}

pre {
  position: relative;
}

pre [role='toolbar'] {
  position: absolute;
  top: 12px;
  right: 12px;
  opacity: 0;
  transition: opacity 0.15s;
}

pre:hover [role='toolbar'] {
  opacity: 1;
}
