:root {
  --hr-thickness: 1px;
  --hr-expression: calc(1 - (1 - var(--border-expression)) * 0.9);
  --hr-spacing: calc(var(--spacing) * 6);
  --hr-margin: calc((var(--hr-spacing) - var(--hr-thickness)) / 2) 0;
}

hr {
  border: none;
  height: var(--hr-thickness);
  background: var(--text-color);
  opacity: var(--hr-expression);
  margin: var(--hr-margin);
}
