
:root {
  --button-primary-border-brightness: 1.2;
  --button-primary-hover-brightness: 1.1;
  --button-primary-active-opacity: 0.9;
}

@media (prefers-color-scheme: light) {
  :root {
    --button-primary-border-brightness: 0.95;
    --button-primary-active-opacity: 0.85;
  }
}

button {
  display: inline-block;
  position: relative;
  font-size: 0.9em;
  background: var(--primary-color);
  color: var(--primary-text);

  border: none;
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  min-width: var(--button-min-width);

  cursor: pointer;
  filter: brightness(1);
  transition: opacity 0.2s, filter 0.2s;
}

button:before {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  content: '';
  border: 1px solid var(--primary-color);
  border-radius: var(--button-border-radius);
  filter: brightness(var(--button-primary-border-brightness));
}

button:hover,
button:focus {
  filter: brightness(var(--button-primary-hover-brightness));
}

button:active {
  opacity: var(--button-primary-active-opacity);
}
