:root {
  --blockquote-padding: calc(var(--spacing) * 2);
  --blockquote-margin: calc(var(--spacing) * 2) 0;
  --blockquote-background-expression: 0.1;
}

blockquote {
  margin: var(--blockquote-margin);
  padding: var(--blockquote-padding);
  position: relative;

  &>:first-child { margin-top: 0; }
  &>* { position: relative; }

  &:before {
    content: ' ';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: var(--primary-color);
    opacity: var(--blockquote-background-expression);
    border-radius: var(--roundness);
  }
}