:root {
  --interactable-size: 32px;
  --disabled-opacity: 0.35;
  --active-opacity: 0.85;
}

@media (hover: none) and (pointer: coarse) {
  :root {
    --interactable-size: 40px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --interactable-brightness: 0.96;
    --hover-brightness: calc(1 - (1 - var(--interactable-brightness)) * 1/10);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --interactable-brightness: 2.25;
    --hover-brightness: calc(var(--interactable-brightness) * 1.35);
  }
}

@media (min-width: 1560px) {
  :root {
    --interactable-size: 40px;
  }
}

@media (min-width: 1920px) {
  :root {
    --interactable-size: 48px;
  }
}
