:root {
  --primary-color: #1f6feb;
  --primary-text-color: #fff;
  --danger-color: #ff2626;
  --danger-text-color: #fff;
  --roundness: 5px;
  --spacing: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fffdf9;
    --text-color: #393e46;
    --border-expression: 0.15;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1118;
    --text-color: #fffcf3;
    --border-expression: 0.03;
  }
}
