:root {
  --background-color: #FFFDF9;
  --text-color: #393E46;

  --primary-color: #1F6FEB;
  --primary-text-color: #fff;

  --roundness: 5px;
  --spacing: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0D1118;
    --text-color: #FFFCF3;
  }
}