@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,300;1,600&display=swap';

:root {
  --font-family:
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    'Noto Sans',
    helvetica,
    arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  --font-size: 1.5em;
  --font-weight: 300;
}

html,
body {
  font-family: var(--font-family);
  line-height: var(--font-size);
  font-weight: var(--font-weight);
}

b,
strong {
  font-weight: 800;
}
