:root {
  --font-family:
    -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    'Noto Sans',
    helvetica,
    arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  --font-size: 1rem;
  --small-font-size: 0.833rem;
  --font-weight: 300;
  --line-height: calc(var(--font-size) * 1.5);
}

@media (min-width: 1560px) {
  :root {
    --font-size: 1.125rem;
    --small-font-size: 0.875rem;
  }
}

@media (min-width: 1920px) {
  :root {
    --font-size: 1.25rem;
    --small-font-size: 0.9375rem;
  }
}

html,
body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

b,
strong {
  font-weight: 800;
}

mark {
  background: var(--primary-color);
  color: var(--primary-text-color);
  border-bottom: 0.15rem solid var(--primary-color);
}

small {
  font-size: var(--small-font-size);
}
