:root {
  --radio-size: calc(var(--input-height) * 0.65);
  --radio-check-size: calc(var(--radio-size) - var(--spacing));
}

input[type='radio'],
input[type='checkbox'] {
  display: inline-block;
  cursor: pointer;
  appearance: none;
  vertical-align: calc(var(--radio-size) / -6 - var(--spacing) / 2);
  background: var(--background-color);
  width: var(--radio-size);
  height: var(--radio-size);
  margin: calc(var(--spacing) / 2);
  margin-left: 0;
  border-radius: var(--roundness);
  position: relative;
  filter: brightness(var(--interactable-brightness));
  transition: filter 0.15s;

  &:hover {
    filter: brightness(var(--hover-brightness));
  }

  &::before {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid var(--text-color);
    border-radius: var(--roundness);
    opacity: var(--border-expression);
    transition: border 0.15s, filter 0.15s, opacity 0.15s;
  }

  &:focus::before {
    border-color: var(--primary-color);
    opacity: 1;
    filter: brightness(calc(1 / var(--interactable-brightness)));
  }

  &::after {
    content: ' ';
    position: absolute;
    top: calc((var(--radio-size) - var(--radio-check-size)) / 2);
    left: calc((var(--radio-size) - var(--radio-check-size)) / 2);
    width: var(--radio-check-size);
    height: var(--radio-check-size);
    background: transparent;
    border-radius: var(--roundness);
    filter: brightness(calc(1 / var(--interactable-brightness)));
    transform: scale(0);
    transition: background 0.15s, transform 0.15s, clip-path 0.15s;
  }

  &:checked::after {
    transform: scale(1);
    background: var(--primary-color);
  }

  &[aria-invalid='true'] {
    &::before {
      border-color: var(--danger-color);
      opacity: 1;
      filter: brightness(calc(1 / var(--interactable-brightness)));
    }

    &:checked::after {
      background: var(--danger-color);
    }
  }

  &[type='radio'] {
    border-radius: var(--radio-size);

    &::before,
    &::after {
      border-radius: var(--radio-size);
    }
  }

  &[type='checkbox'] {
    &::after {
      transform: scale(1);
      clip-path: polygon(36.45% 36.45%, 36.45% 60.45%, 50% 60.45%, 60.45% 60.45%, 60.45% 36.45%, 36.45% 36.45%);
    }

    &:checked::after {
      clip-path: polygon(14.65% 42.28%, 0 61.31%, 43.29% 94.54%, 100% 20.64%, 80.67% 6.7%, 38.82% 60.85%);
    }

    &:indeterminate::after {
      background: var(--primary-color);
      clip-path: polygon(0 36.45%, 0 60.45%, 50% 60.45%, 100% 60.45%, 100% 36.45%, 50% 36.45%);
    }
  }
}
