/* stylelint-disable selector-class-pattern */

:root {
  --range-input-track-height: 2px;
  --range-input-thumb-width: var(--input-height);
  --range-input-thumb-height: calc(var(--input-height) * 2 / 3);
  --range-input-margin: calc(var(--range-input-thumb-height) + var(--spacing)) 0;
  --range-input-margin-moz: calc(var(--range-input-thumb-height) / 2 + var(--spacing)) 0;
  --range-input-empty-track-inversion: 0.12;
}

@supports (-moz-appearance: none) {
  :root {
    --range-input-margin: var(--range-input-margin-moz);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --vertical-range-track-brightness: calc(var(--interactable-brightness) * 0.8);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --vertical-range-track-brightness: calc(var(--interactable-brightness) * 2);
  }
}

input[type='range'] {
  width: 100%;
  background-color: transparent;
  appearance: none;
  margin: var(--range-input-margin);

  &::-webkit-slider-runnable-track {
    background: var(--background-color);
    filter: invert(var(--range-input-empty-track-inversion));
    border-radius: var(--roundness);
    width: 100%;
    height: var(--range-input-track-height);
    cursor: pointer;
    position: relative;
  }

  &::-webkit-slider-thumb {
    margin-top: calc(var(--range-input-thumb-height) / -2 + 1px);
    filter: invert(0) brightness(1.1) saturate(1.2);
    width: var(--range-input-thumb-width);
    height: var(--range-input-thumb-height);
    background: var(--text-color);
    border: none;
    border-radius: var(--roundness);
    cursor: pointer;
    appearance: none;
    transition: background 0.15s;
  }

  &::-moz-range-track {
    background: var(--background-color);
    filter: invert(var(--range-input-empty-track-inversion));
    border-radius: var(--roundness);
    width: 100%;
    height: var(--range-input-track-height);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: var(--range-input-thumb-width);
    height: var(--range-input-thumb-height);
    filter: invert(0) brightness(1.1) saturate(1.2);
    background: var(--text-color);
    border-radius: var(--roundness);
    border: none;
    cursor: pointer;
    transition: background 0.15s;
  }

  &::-moz-range-progress {
    filter: invert(0);
    background: var(--primary-color);
    height: var(--range-input-track-height);
  }

  &:hover,
  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      background: var(--primary-color);
    }

    &::-moz-range-thumb {
      background: var(--primary-color);
    }
  }
}

[role='toolbar']:not([aria-orientation='vertical']) {
  & input[type='range'] {
    position: relative;
    margin: 0;
    padding: 0 calc(var(--spacing) * 2);
    filter: brightness(var(--interactable-brightness));
    background: var(--background-color);

    &::-webkit-slider-thumb {
      filter: invert(0) saturate(2) brightness(calc(0.9 / var(--interactable-brightness)));
    }

    &::-moz-range-thumb {
      filter: invert(0) saturate(1.2) brightness(calc(0.9 / var(--interactable-brightness)));
    }

    &::-moz-range-progress {
      filter: invert(0) saturate(1.2) brightness(calc(0.9 / var(--interactable-brightness)));
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid var(--text-color);
      opacity: var(--border-expression);
    }

    &:not(:first-child)::before {
      border-left: none;
      border-right: none;
    }

    & + :is(button, [role='button'], [type='button'], [type='submit']):not(:first-child) {
      &::before {
        border-left-style: solid;
        border-left-width: 1px;
      }

      &:not(:first-child):last-child {
        &::before {
          border-left-style: solid;
          border-left-width: 1px;
        }
      }
    }

    &:first-child {
      border-top-left-radius: var(--roundness);
      border-bottom-left-radius: var(--roundness);

      &::before {
        border-top-left-radius: var(--roundness);
        border-bottom-left-radius: var(--roundness);
      }
    }

    &:last-child {
      border-top-right-radius: var(--roundness);
      border-bottom-right-radius: var(--roundness);

      &::before {
        border-top-right-radius: var(--roundness);
        border-bottom-right-radius: var(--roundness);
      }
    }
  }
}

[role='toolbar'][aria-orientation='vertical'] {
  & .--vertical-range-container {
    --track-length: calc(var(--input-height) * 4);

    position: relative;
    overflow-x: hidden;
    width: var(--button-height);
    height: calc(var(--track-length) + 2 * var(--range-input-margin));

    & input[type='range'] {
      position: relative;
      z-index: 1;
      width: var(--track-length);
      height: var(--track-length);
      transform: rotate(-90deg);
      margin: 0;
      margin-left: calc((var(--track-length) - var(--input-height)) / -2);
      padding: 0 calc(var(--spacing) * 2);
      border-radius: var(--roundness);
      overflow: hidden;

      &::-webkit-slider-runnable-track {
        width: var(--track-length);
        filter: brightness(var(--vertical-range-track-brightness));
      }

      &::-webkit-slider-thumb {
        filter: brightness(calc(1 / var(--vertical-range-track-brightness)));
      }

      &::-moz-range-track {
        width: var(--track-length);
        filter: invert(calc(var(--range-input-empty-track-inversion) * 2));
      }
    }

    &::after {
      z-index: 0;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--background-color);
      filter: brightness(var(--interactable-brightness));
    }

    &::before {
      z-index: 1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid var(--text-color);
      opacity: calc(2 * var(--border-expression));
    }

    &:not(:first-child)::before {
      border-top: none;
    }

    &:first-child {
      &::after,
      &::before {
        border-top-left-radius: var(--roundness);
        border-top-right-radius: var(--roundness);
      }
    }

    &:last-child {
      &::after,
      &::before {
        border-bottom-left-radius: var(--roundness);
        border-bottom-right-radius: var(--roundness);
      }
    }
  }
}
