:root {
  --range-input-track-height: 2px;
  --range-input-thumb-width: var(--button-height);
  --range-input-thumb-height: calc(var(--button-height) * 2 / 3);
  --range-input-margin: calc(var(--range-input-thumb-height) + var(--spacing)) 0;
  --range-input-empty-track-inversion: 0.12;
}

@supports (-moz-appearance: none) {
  :root {
    --range-input-margin: calc(var(--range-input-thumb-height) / 2 + var(--spacing)) 0;
  }
}

input[type='range'] {
  width: 100%;
  background-color: transparent;
  appearance: none;
  margin: var(--range-input-margin);

  &::-webkit-slider-runnable-track {
    background: var(--background-color);
    filter: invert(var(--range-input-empty-track-inversion));
    border-radius: var(--roundness);
    width: 100%;
    height: var(--range-input-track-height);
    cursor: pointer;
    position: relative;
  }

  &::-webkit-slider-thumb {
    margin-top: calc(var(--range-input-thumb-height) / -2 + 1px);
    filter: invert(0) brightness(1.05);
    width: var(--range-input-thumb-width);
    height: var(--range-input-thumb-height);
    background: var(--text-color);
    border: none;
    border-radius: var(--roundness);
    cursor: pointer;
    appearance: none;
    transition: background 0.15s;
  }

  &::-moz-range-track {
    background: var(--background-color);
    filter: invert(var(--range-input-empty-track-inversion));
    border-radius: var(--roundness);
    width: 100%;
    height: var(--range-input-track-height);
    cursor: pointer;
  }

  &::-moz-range-thumb {
    width: var(--range-input-thumb-width);
    height: var(--range-input-thumb-height);
    filter: invert(0) brightness(1.05);
    background: var(--text-color);
    border-radius: var(--roundness);
    border: none;
    cursor: pointer;
    transition: background 0.15s;
  }

  &::-moz-range-progress {
    filter: invert(0);
    background: var(--primary-color);
    height: var(--range-input-track-height);
  }

  &:hover,
  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      background: var(--primary-color);
    }

    &::-moz-range-thumb {
      background: var(--primary-color);
    }
  }
}
