:root {
  --select-icon-size: calc(var(--interactable-size) * 0.25);
}

select {
  appearance: none;
  background-size: var(--select-icon-size);
  background-position: calc(100% - var(--spacing) - var(--select-icon-size)) center;
  background-repeat: no-repeat;

  @media (prefers-color-scheme: light) {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,15 100,15 50,85'/></svg>");
  }

  @media (prefers-color-scheme: dark) {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,15 100,15 50,85'/></svg>");
  }
}
