input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='color'],
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='week'],
input[type='month'],
textarea,
select {
  & + :is([role='status'], [role='alert'], [aria-live='polite'], [aria-live='assertive']) {
    font-size: var(--small-font-size);
    display: block;
    margin-top: calc(-1 * var(--spacing));
    transition: color 0.15s;
  }

  &:is([aria-invalid='true'], :not(:placeholder-shown):invalid) + :is(
  [role='status'],
  [role='alert'],
  [aria-live='polite'],
  [aria-live='assertive']) {
    color: var(--danger-color);
  }

  &:is(:focus, :is(:valid, :placeholder-shown):not([aria-invalid='true'])) + :is(
  [role='alert'], [aria-live='assertive']) {
    display: none;
  }

  label > &:not(br + &) + :is([role='status'], [role='alert'], [aria-live='polite'], [aria-live='assertive']) {
    width: 100%;
    padding-left: calc(100% - var(--labeled-input-width));
  }
}
