:root {
  --main-content-max-width: 896px;
  --main-content-margin: calc(var(--spacing) * 4) auto;
}

@media (max-width: 1400px) {
  :root {
    --main-content-max-width: 60vw;
  }
}

@media (max-width: 768px) {
  :root {
    --main-content-max-width: 768px;
    --main-content-margin: calc(var(--spacing) * 2);
  }
}

main {
  max-width: var(--main-content-max-width);
  margin: var(--main-content-margin);
  background: inherit;
}
