:root,
::backdrop {
  --modal-width: 512px;
  --modal-backdrop-blur: 8px;
  --modal-backdrop-background: rgba(0  0  0  / 50%);
  --modal-background-brightness: 2;
  --modal-animation: grow-modal-in;
}

@media (prefers-color-scheme: light) {
  :root,
  ::backdrop {
    --modal-background-opacity: 0.9;
  }
}

@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    --modal-background-opacity: 0.35;
  }
}

dialog {
  background: transparent;
  border-radius: var(--roundness);
  border: none;
  width: var(--modal-width);
  overflow: auto;
  padding: calc(2 * var(--spacing));
  backdrop-filter: blur(calc(4 * var(--modal-backdrop-blur)));
  animation: var(--modal-animation) 0.3s;

  &::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: var(--background-color);
    border-radius: var(--roundness);
    opacity: var(--modal-background-opacity);
    z-index: -1;
    filter: brightness(var(--modal-background-brightness));
  }

  &::after {
    content: ' ';
    border-radius: var(--roundness);
    position: absolute;
    border: 1px solid var(--text-color);
    opacity: var(--border-expression);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  &::backdrop {
    background: var(--modal-backdrop-background);
    backdrop-filter: blur(var(--modal-backdrop-blur));
    animation: show-dialog-backdrop 3s;
  }

  & > :is(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0;
  }

  & > header {
    position: relative;
    margin-bottom: calc(2 * var(--spacing));
    padding-bottom: calc(2 * var(--spacing));

    & :is(h1, h2, h3, h4, h5, h6) {
      margin: 0;
    }

    &::before {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid var(--text-color);
      opacity: var(--border-expression);
    }
  }

  & > footer {
    position: relative;
    margin-top: calc(2 * var(--spacing));
    padding-top: calc(2 * var(--spacing));

    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid var(--text-color);
      opacity: var(--border-expression);
    }

    & [role='group'] {
      margin: 0;
    }
  }
}

@keyframes fade-modal-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes grow-modal-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drop-modal-in {
  from {
    opacity: 0;
    transform: translateY(-5vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show-dialog-backdrop {
  0% {
    opacity: 0;
    backdrop-filter: blur(0);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    backdrop-filter: blur(var(--modal-backdrop-blur));
  }
}
