:root {
  --section-spacing: calc(var(--spacing) * 16);
  --section-header-offset: calc(var(--section-spacing) / 2);
}

section:not([role]) {
  margin: var(--section-spacing) 0;

  &:first-child {
    margin-top: 0;
  }

  & > :is(h1, h2, h3, h4, h5, h6)[id]:first-child {
    &::before {
      content: ' ';
      display: block;
      position: relative;
      pointer-events: none;
      width: 0;
      height: var(--section-header-offset);
      margin-top: calc(-1 * var(--section-header-offset));
    }
  }
}
