:root {
  --sidebar-padding: calc(var(--spacing) * 2);
  --sidebar-margin: calc(var(--spacing) * 4);
  --sidebar-width: calc(50vw - var(--main-content-max-width)/2 - var(--sidebar-margin));
  --sidebar-fullscreen-gap: calc(2 * var(--interactable-size));
  --sidebar-z: var(--sticky-z);
}

@media (prefers-color-scheme: dark) {
  :root {
    --sidebar-brightness: 1.25;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --sidebar-brightness: 0.98;
  }
}

body > aside:first-of-type {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  background: var(--background-color);
  filter: brightness(var(--sidebar-brightness));
  padding: var(--sidebar-padding);
  width: var(--sidebar-width);

  & > * {
    filter: brightness(calc(1/var(--sidebar-brightness)));
  }

  transition: visibility 0.3s, transform 0.3s;

  &[aria-hidden='true'] {
    visibility: hidden;
    transform: translateX(-100%);
  }

  @media (max-width: 1024px) {
    width: calc(100% - var(--sidebar-fullscreen-gap));
    z-index: var(--sidebar-z);
    transform: translateX(-100%);
    box-shadow: 0 0 var(--sidebar-fullscreen-gap) calc(1.5 * var(--sidebar-fullscreen-gap)) rgba(0 0 0 / 0%);
    transition: visibility 0.3s, transform 0.3s, box-shadow 0.3s;
  }

  &[aria-hidden='false'] {
    transform: translateX(0);

    @media (max-width: 1024px) {
      transform: translateX(0);
      box-shadow: 0 0 var(--sidebar-fullscreen-gap) calc(1.5 * var(--sidebar-fullscreen-gap)) rgba(0 0 0 / 60%);
    }
  }
}

body > main + aside,
body > main + aside:first-of-type {
  left: auto;
  right: 0;

  &[aria-hidden='true'] {
    transform: translateX(100%);
  }

  @media (max-width: 1024px) {
    transform: translateX(100%);
  }
}
